<div class="text-center">
  <button class="btn btn-success me-2" (click)="onBeginWorkday()">Begin Workday</button>
  <button class="btn btn-danger" (click)="onEndWorkday()">End Workday</button>
</div>
<hr>
<div class="container text-center mt-">
  <app-lottery-winning-order
  [inputForLottery]="order"
  [lotteryNumber]="randomNumber"
  (lotteryWinner)="lotteryWinner(order)"
  ></app-lottery-winning-order>
</div>
<div class="row text-center">
  <div class="col">
    <app-first-five-orders
    [inputForFiveOrders]="order"
    ></app-first-five-orders>
  </div>
  <div class="col">
    <app-all-other-orders
    [inputForOtherOrders]="order"
    ></app-all-other-orders>
  </div>
</div>